html { margin: 0; padding: 0; }
body { margin: 0; padding: 0; }

.nav-container {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  position: fixed;
  top: 0;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: gray;
}

.main-container {
  overflow:hidden;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.editor-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}

.editor-header-container {
  box-sizing: border-box;
  padding: 5px 0 5px 0; 
  height: 40px;
}

.editor-header {
  display: block;
  font-size: larger;
  font-weight: bold;
}

.medium-buttons {
  box-sizing: border-box; 
  padding: 0px 10px 15px 0px;
  height: 40px;
}
.medium-buttons > button {
  height: 40px;
  width: 40px;
  font-size: medium;
}

.medium-editor {
  overflow: hidden;
  position: absolute;
  top: 110;
  bottom: 15px;
  left: 20px;
  right: 20px;
  outline: none;
  white-space: pre;
}
.medium-editor p { margin: 0; }

.bbcode-editor {
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  outline: none;
  height: 100%;
  width: 100%;
}

.bbcode-preview {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid gray;
  word-wrap: break-word;
  overflow: auto;
  white-space: pre;
  width: 100%;
  height: 100%;
}
.bbcode-preview p { margin: 0; }


.hide-editor {
  opacity: 0;
  height: 0;
  visibility: hidden;
  padding: 0;
}

.show-editor {
  opacity: 1;
  visibility: visible;
}

.split-container {
  position: absolute;
  top: 110px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.half-column { width: 50%; float: left; }