html { margin: 0; padding: 0; }
body { margin: 0; padding: 0; }

.ee-nav-container {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  position: fixed;
  top: 0;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: gray;
}

.ee-main-container {
  overflow:hidden;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.ee-editor-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms;
  -o-transition: all linear 200ms;
  transition: all linear 200ms;
}

.ee-buttons {
  margin-top: -10px;
  box-sizing: border-box; 
  padding: 0px 10px 15px 0px;
  height: 40px;
}
.ee-buttons > button {
  height: 40px;
  width: 40px;
  font-size: medium;
}

.ee-medium-editor {
  overflow: auto;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 20px;
  right: 20px;
  outline: none;
  white-space: pre;
}
.ee-medium-editor p { margin: 0; }

.ee-bbcode-editor {
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid gray;
  padding: 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  outline: none;
  white-space: pre;
  height: 100%;
  width: 100%;
  cursor: default;
}
.ee-bbcode-editor p { margin: 0; }

.ee-bbcode-preview {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid gray;
  border-left: 0px;
  word-wrap: break-word;
  overflow: auto;
  white-space: pre;
  width: 100%;
  height: 100%;
}
.ee-bbcode-preview p { margin: 0; }


.ee-hide-editor {
  opacity: 0;
  height: 0;
  visibility: hidden;
  padding: 0;
}

.ee-show-editor {
  opacity: 1;
  visibility: visible;
}

.ee-split-container {
  overflow: hidden;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.ee-half-column { width: 50%; float: left; }

.ee-show {
  display: block;
}

.ee-hide {
  display: none;
}
